backend/media
backend/node_modules
backend/config.js
frontend/addon/popup/app.bundle.js
frontend/addon/popup/app.bundle.js.LICENSE.txt
frontend/node_modules
frontend/addon/background_scripts/background-script.bundle.js
**/.DS_Store