@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
}


.vjs-trim .vjs-control-bar {
  height: 5em;
  border-radius: 15px;
}

.vjs-trim .vjs-icon-placeholder,
.vjs-trim .vjs-volume-panel,
.vjs-trim .vjs-remaining-time {
  align-items: center;
  display: flex;
}

.vjs-trim .vjs-icon-placeholder::before  { 
  position: relative;
  align-self: center;
  font-size: 2.4em;
}

.vjs-trim .vjs-play-progress::before,
.vjs-trim .vjs-volume-level::before {
  font-size: 1.4em;
  top: -.339em;
}


.vjs-trim-start:before {
  content: "【";
  top: -.5em;
  right: -.19em;
  position: absolute;
  font-size: 1.4em;
  color: #ffc107;
}

.vjs-trim-end:before {
  content: "】";
  top: -.5em;
  right: -.9em;
  position: absolute;
  font-size: 1.4em;
  color: #ffc107;
}

.vjs-trim-control { /* vjs-volume-control */
  cursor: pointer;
  margin-right: 1em;
  display: flex;
}

.vjs-trim-control.vjs-trim-horizontal { /* .vjs-volume-control.vjs-volume-horizontal */
  width: 5em;
}

.vjs-trim-bar.vjs-slider-horizontal { /* .vjs-volume-bar.vjs-slider-horizontal */
  width: 5em;
  height: .3em;
}

.vjs-trim-start { /* vjs-volume-level */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.vjs-trim-end { /* vjs-volume-level */
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

.vjs-start-trim-button { /* vjs-volume-level */
  top: .15em;
  right: 0em;
  position: absolute;
  font-size: .9em;
}

.video-js .vjs-trim-level { /* .video-js .vjs-volume-level */
  font-family: VideoJS;
  font-weight: 400;
  font-style: normal;
}

.vjs-slider-horizontal .vjs-trim-level {
  height: .3em;
}

.vjs-slider.vjs-trim-bar { /* vjs-volume-bar */
  margin-top: 1.35em;
  margin-right: 0.45em;
  margin-bottom: 1.35em;
  margin-left: 0.45em;
}

.video-js {
  border-radius: 15px;
}

video {
  border-radius: 15px;
}

img {
  border-radius: 50%;
  border: 2px solid black;
  width: 36px; 
  height: 36px;
}

.video-js .vjs-title-bar {
  background: rgba(0, 0, 0, 0.5);
  color: white;

  /*
    By default, do not show the title bar.
  */
  display: none;
  font-size: 2em;
  padding: .5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*
  Only show the title bar after playback has begun (so as not to hide
  the big play button) and only when paused or when the user is
  interacting with the player.
*/
.video-js.vjs-paused.vjs-has-started .vjs-title-bar,
.video-js.vjs-user-active.vjs-has-started .vjs-title-bar{
  display: block;
}
 
/*
APP UI LAYOUT
*/

.cs-banner {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.cs-body {
  padding: 5px;
}

.cs-footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  flex-direction: column;
}
.cs-footer-tweet {
  flex-direction: column;
  background-color: lightgrey;
  border-radius: .3rem;
}

.cs-button {
  border: none;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  background-color: #ffc107;
  color: black;
  border-radius: .3rem;
  border: 1px solid transparent;
  text-align: center;
  font-size:large;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cs-tweet-button {
  width: 25%;
  align-self: end;
}

.cs-button:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}

.cs-button:active {
  background-color: #c69500;
  border-color: #c69500;
  box-shadow: 0 0 0 .2rem rgba(255,193,7,.5);
}

.cs-welcome-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  border: 2px solid #ffc107;
  border-radius: 15px;
}

.cs-welcome-item {
  align-self: center;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
}

.cs-edit-start-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.cs-edit-start-item {
  align-self: center;
  margin: 10px;
}

.cs-error-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  border: 2px solid #ffc107;
  border-radius: 15px;
}

.cs-error-item {
  align-self: center;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
}

.cs-edit-trim-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.cs-edit-trim-item {
  align-self: center;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
}

.cs-tweet-link {
  padding: 5px;
  text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ffc107;
  padding: 0;
}

.cs-button-back {
  color: #ffc107;
  border-radius: .3rem;
  background-color: white;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  font-size:large;
  margin-left: 5px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cs-button-back:hover {
  background-color: #dddddd;
  border-color: #dddddd;
}

.cs-button-back:active {
  background-color: #f0cf6dc4;
  border-color: #f0cf6dc4;
  box-shadow: 0 0 0 .2rem rgba(230, 196, 105, 0.5);
}

.cs-input {
  background-color: lightgrey;
  border: none;
  font-family: 'Nunito', sans-serif;
  cursor: text;
  font-size: medium;
  border-radius: .3rem;
  padding: 5px;
  resize: none;
}

.cs-input:hover, .cs-input:focus-visible{
  background-color: #dddddd;
  border-color: #dddddd;
  outline: none;
}

.cs-error-long-video {
  font-family: 'Nunito', sans-serif;
  color: #DC281E;
  padding: 5px;
}

cs-loading {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.cs-loading-message {
  align-self: center;
  margin-top: 25px;
  font-family: 'Nunito', sans-serif;
  font-size: large;
}
.cs-dual-ring {
  display: inline-block;
  width: 35px;
  height: 35px;
  align-self: center;
}
.cs-dual-ring:after {
  align-self: center;
  content: " ";
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 6px solid #e0a800;
  border-color: #e0a800 transparent #e0a800 transparent;
  animation: cs-dual-ring 1.2s linear infinite;
}
@keyframes cs-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cs-submit-row {
  display: flex;
  margin: 5px;
  justify-content: space-between;
  padding: 5px;
}
.word-count {
  align-self: center;
  font-size: medium;
  font-family: 'Nunito', sans-serif;
}